@import url('../../global.css');

.mainsection {
    width: 100%;
    height: auto;
    position: relative;
  }

  .mainsection.video{
    height: 990px;
  }
  
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    background: linear-gradient(to bottom, #000000 0%, #1C2F54 40%, #000000 100%);
    place-content: center;
    color: var(--white);
    opacity: 0.2;
  }

  .videoTitle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    color: var(--white);
    background: url(/src/assets/img/mainBanner/mainBanner__bottomMobile.svg) no-repeat 100% 105%;
    background-size: contain;
  }
  
  .videoTitle h4 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Didact Gothic", serif;
    margin: 0 0 1.75em;
    color: var(--white);
  }
  
  .videoTitle h4 span {
    font-family: "Instrument Serif", serif;
    font-style: italic;
  }
  
  .videoTitle p {
    width: 64%;
    max-width: 263px;
    font-size: 19px;
    margin: 0 auto 20px;
    font-family: "futuraStdLight", serif;
    line-height: 1.25em;
    text-align: center;
    font-weight: 400;
  }
  
  .video__footer {
    width: 100%;
    height: 200px; 
    background: url('../../assets/img/section_clip.png') repeat-x;
    position: absolute;
    bottom: -4em;
  }
  
  
  .mainsection__video  {
      width: 100%;
      height: 100%;
    }
  
  .mainsection__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .layer-title {
    width: 90%;
    font-size: 7.5rem;
    text-align: center;
    font-family: "Anton", serif;
    text-align: center;
    margin: 0 auto 20px;
  }

  .layer-title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .subtitle {
    width: 81%;
    color: var(--white);
    max-width: 500px;
    margin: 0 auto 30px;
    font-size: 38px;
    text-align: center;
    font-family: 'futura Std Medium', serif;
  }
  
  .subtitle span {
    font-family: "Instrument Serif", serif;
    letter-spacing: 5px;
    font-style: italic;
  }
  
  .layer__button {
      width: 250px;
      height: 55px;
      margin: 0 auto;
      border-radius: 50px;
      font-family: "futura Std Medium", serif;
      font-weight: bold;
  }

  @media screen and (min-width: 540px) {
    .videoTitle {
      background: url(/src/assets/img/mainBanner/mainBanner__bottom.svg) no-repeat bottom center;
      background-size: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
      .layer-title {
        width: 70%;
      }
      .mainsection.video{
        height: 1200px;
      }
      .videoTitle {
        background: url(/src/assets/img/mainBanner/mainBanner__bottom.svg) no-repeat bottom center;
        background-size: 100%;
      }
  }

  @media screen and (min-width: 1200px) {
    .mainsection.video{
      height: 1200px;
    }
    .videoTitle {
      background: url(/src/assets/img/mainBanner/mainBanner__bottom.svg) no-repeat bottom center;
      background-size: 100%;
    }
  }

  