.about-grid {
  display: grid;
  grid-template-columns: 1fr;
}


.about-left.blue {
  width: 100vw;
  background: url('../../assets/img/testimonial-blue.png') no-repeat 0 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 550px;
  position: relative;
}

.carousel-holder {
  display: block;
  width: 78%;
  margin: 0 auto;
  position: relative;
  height: 450px;
}

.carousel-holder figure {
  width: 100%;
  height: 100%;
}

.carousel-holder figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blue-txt {
  color: var(--blue);
  font-weight: bold;
}

.brown-txt {
  color: var(--brown);
  font-weight: bold;
}

.about-left.info {
  order: 2;
}

.about-right.brown {
  width: 100vw;
  background: url('../../assets/img/testimonial-brown.png') no-repeat 0 0;
  background-size: cover;
  display: flex;
  height: 550px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  order: 1;
}

.section-label {
  font-family: "futuraStdLight", serif;
  font-size: 1rem;
  display: block;
  margin: 0 0 20px;
  text-align: center;
}

.about-right h3 {
  font-size: 1.75rem;
  font-family: "futura Std Medium", serif;
  margin: 0 0 40px;
  color: var(--darkBlue);
  max-width: 300px;
}

.about-right h3 span {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

.section-resume p {
  font-size: 1rem;
  font-family: "futuraStdLight", serif;
  margin: 0 0 40px;
  line-height: 1.5em;
  font-weight: 400;
  color: var(--darkBlue);
}



.info {
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.about-right.info{
  align-items: flex-start;
}


.section-title {
  font-size: 2.5rem;
  font-family: 'futura Std Medium', serif;
  color: var(--blue);
  margin: 0 0 1.5em;
}

.section-title span {
  font-family: "Instrument Serif", serif;
  color: var(--brown);
  font-style: italic;
}

.aboutSecond .section-title {
  max-width: 506px;
}


@media screen and (min-width: 768px) {

  .about-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .section-resume {
    width: 90%;
    max-width: 615px;
  }

  .about-left.blue,
  .about-right.brown {
    width: 100%;
    height: 100%;
  }





  .carousel-holder {
    display: block;
    width: 78%;
    max-width: 521px;
    margin: 0 auto;
    position: relative;
    height: 652px;
    padding: 2em 0;
    box-sizing: border-box;
  }

  .about-left.info {
    order: 1;
  }

  .about-right.brown {
    order: 2;
  }


}



@media screen and (min-width: 1200px) {
  .about-left.blue,
  .about-right.brown {
    height: 900px;
  }
}