.testimonials-grid {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
  display: none;
}



.video-holder {
  height: 600px;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 40px;
}

.video-holder video{
  width: 100%;
  height: 500px;
}

.intro{
  margin: 3em 0;
}

.intro h3{
  width: 90%;
  max-width: 422px;
  text-align: center;
  font-family: "futura Std Medium", serif;
  font-size: 2rem;
  margin: 0 auto 1.5em;
  font-weight: 400;
}

.intro h3 span{
  font-family: "Instrument Serif", serif;
  display: block;
  font-style: italic;
  margin: 20px 0 0;
}

.intro-txt{
  max-width: 615px;
  text-align: center;
  font-family: "futura Std Medium", serif;
  font-size: 1.25rem;
  margin: 0  auto;
  padding: 1em;
  box-sizing: border-box;
  line-height: 1.25em;
  font-weight: 400;
}

.testimonial-holder {
  margin: 0 0 3em;
}

.testimonial-holder p {
  font-family: "futuraStdLight", serif;
  line-height: 1.5em;
  margin: 0 0 0.5em;
}

.first .testimonial-holder footer {
  text-align: right;
  padding: 0 0.75em;
}

.video-aside {
  margin: 0 0 1.5em;
}

.testimonial-holder__stars{
  padding: 0 0.25em;
}

.first .testimonial-holder__stars {
  text-align: end;
}

.first, .last {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
}

.testimonial-holder {
  margin: 0 0 3em;
  width: 100%;
}

.intro-footer h4{
  text-align: center;
  margin: 0 0 2em;
  font-family: "futura Std Medium", serif;
  font-size: 1rem;
}

.intro-footer__logos {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}



.intro-footer__logos figure {
  width: 100%;
  margin: 0 auto;
  padding: 0.75em;
  box-sizing: border-box;
}

.intro-footer__logos figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-testimonials {
  width: 90%;
  max-width: 320px;
  margin: 1em auto;
}

.mobile-testimonials .slick-dots {
  bottom: 0;
}

.video-slider .slick-dots {
  bottom: 1.75em;
}

.author-footer{
  font-family: "futura Std Medium", serif;
}

@media screen and (min-width: 768px) {
  .first, .last {
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
  .mobile-testimonials{
    width: 90%;
    max-width: 200px;
    margin: 1em auto;
  }
  .video-slider .slick-dots {
    bottom: 1.15em;
  }
  .video-holder{
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .testimonials-grid {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 380px 1fr;
    grid-gap: 1.5em;
  }

  .testimonial-holder {
    margin: 0 0 3em;
  }

  .first, .last{
    display: flex;
    align-items: center;
  }

  .intro-txt {
    width: 80%;
    margin: 0 auto 1em;
  }  

  .mobile-testimonials{
    display: none;
  }
}