@import url('./global.css');
:root{
  --white: #f8f7fc;
  --blue: #073A71E5;
  --darkBlue: #1C2F54;
  --brown: #895C3B;
  --black: #1C2F54;
  --gray: #1C2F54;
  --brown: #A86736F2;
  --lightGray: #D9D9D9;
  --darkBrown: #726565;
}

