.mainsection.benefits{
  background: var(--darkBlue);
  background-size: cover;
  padding: 3em 0;
  box-sizing: border-box;
}

.mainsection.benefits .section-label {
  text-align: center;
  font-family: 'futuraStdLight', serif;
  color: white;
  font-size: 1rem;
  margin: 3em 0 1.5em;
}

.mainsection.benefits .section-title, 
.mainsection.benefits .section-title span{
  color: var(--white)
}

.mainsection.benefits 
.section-title {
  width: 90%;
  max-width: 482px;
  margin: 0 auto 1em;
  text-align: center;
  line-height: 1.15em;
}



.section-description {
  width: 90%;
  max-width: 664px;
  margin: 0 auto;
  color: var(--white);
  font-family: 'futuraStdLight', serif;
  font-size: 1.25rem;
  line-height: 1.25em;
  text-align: center;
  font-weight: 400;
}


.section-carousel {
  width: 100%;
  margin: 3em auto 5em;
  height: 550px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.section-carousel .slick-slider {
  width: 90%;
  height: calc(100% - 100px);
  margin: 0 auto;
}

.section-carousel .slick-list,
.section-carousel .slick-track{
  height: 100%;
}

.section-carousel .slick-slide div{
  height: 100%;
}

.section-carousel .slick-list {
  padding: 0 !important;
}


.section-carousel__item {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  background: var(--white);
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
}

.section-carousel__item em {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1.5rem;
  font-family: 'Instrument Serif';
  font-style: italic;
}

.section-carousel__item figure {
    width: 100%;
    margin: 0;
}

.section-carousel__item h5 {
    font-family: "Didact Gothic", serif;
    color: var(--brown);
    margin: 0 0 1em;
    font-size: 1.15rem;
    font-weight: bold;
}

.item-description {
    font-size: 1rem;
    line-height: 1.25em;
    font-family: 'Didact Gothic', serif;
}

.section-carousel__item figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.benefits-footer__mobile {
  width: 100%;
  position: absolute;
  bottom: -0.5em;
}

.benefits-footer__desk{
  width: 100%;
  position: absolute;
  bottom: -7em;
  display: none;
}

.benefits-footer__mobile img,
.benefits-footer__desk img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.section-carousel .slick-dots {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
}

.section-carousel .slick-dots li button:before {
  color: white;
}

.section-carousel .slick-dots li.slick-active button:before {
  opacity: .75;
  color: white;
}

@media screen and (min-width: 600px) {
  .benefits-footer__mobile {
    display: none;
  }   
  .benefits-footer__desk{
    display: block;
    bottom: -4em;
  }
}

@media screen and (min-width: 700px) {
  .benefits-footer__mobile {
    display: none;
  }   
  .benefits-footer__desk{
    display: block;
    bottom: -5em;
  }
  .mainsection.episodes {
    padding: 7em 0 !important;
  }
}

@media screen and (min-width: 1024px) {
  .benefits-footer__desk {
    display: block;
    bottom: -6em;
  }
}


@media screen and (min-width: 1100px) {

  .mainsection.benefits {
    padding: 4em 0;
  }

  .benefits-footer__desk{
    display: block;
    bottom: -7.5em;
  }

  .section-carousel {
    height: 550px;
  }

  .section-carousel .slick-slider {
    width: 95%;
    
    margin: 0 0 -2.5% auto;
  }
  
  

  .mainsection.benefits{
    background: var(--darkBlue) url('../../assets/img/benefits/section-footer-desk.svg') 0 0 no-repeat;
    background-size: cover;
    padding: 3em 0;
    box-sizing: border-box;
  }
}



